---
import Layout from "../layouts/Layout.astro";
import Films from "../sections/Films.astro";
import Home from "../sections/Home.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Home />
    <Films />
  </main>
</Layout>

<style></style>
