---
import { Image } from "@astrojs/image/components";
const { title, year, img, slug } = Astro.props.film;
const index = Astro.props.index;
---

<a href={`/films/${slug}`}>
  <div class="image-wrapper">
    <div class="focus"></div>
    <div class="focus"></div>
    <div class="focus"></div>
    <div class="focus"></div>
    <Image
      src={`/images/previews/${slug}.jpg`}
      alt={`Still from ${title} by Greenfingers Films`}
      format="webp"
      width={475}
      height={542}
      class="film-preview"
    />
  </div>
  <div class="details">
    <p class="index">0{index + 1}</p>
    <p class="title">{title}</p>
  </div>
</a>

<style>
  .image-wrapper {
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
    filter: grayscale(1);
  }

  .focus {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    border-color: #a4a4a4;
    mix-blend-mode: difference;
    opacity: 0.7;
    position: absolute;
  }

  .focus:nth-child(1) {
    top: 1rem;
    left: 1rem;
    border-top: 1px solid;
    border-left: 1px solid;
  }
  .focus:nth-child(2) {
    top: 1rem;
    right: 1rem;
    border-top: 1px solid;
    border-right: 1px solid;
  }
  .focus:nth-child(3) {
    bottom: 1rem;
    right: 1rem;
    border-bottom: 1px solid;
    border-right: 1px solid;
  }
  .focus:nth-child(4) {
    bottom: 1rem;
    left: 1rem;
    border-bottom: 1px solid;
    border-left: 1px solid;
  }

  .details {
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    margin-top: 0.4rem;
  }

  .index {
    background: var(--black);
    padding: 0.1rem 0.8rem;
    border-radius: 0.1rem;
    font-size: 0.4rem;
    margin-right: 0.4rem;
    margin-top: 0.1rem;
  }

  .title {
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 0.8;
    font-weight: 900;
    opacity: 0.8;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  let previews = gsap.utils.toArray(".film-preview");

  previews.forEach((preview) => {
    gsap.to(preview, {
      keyframes: [{ filter: "grayscale(0)" }, { filter: "grayscale(1)" }],
      scrollTrigger: {
        trigger: preview,
        start: "top 80%",
        end: "bottom 20%",
        scrub: true,
      },
    });
  });
</script>
