---
---

<h2>
  <slot />
</h2>

<style>
  h2 {
    font-family: var(--humane);
    white-space: nowrap;
    font-size: 7rem;
    text-transform: uppercase;
    overflow: hidden;
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 8rem;
    }
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 10rem;
    }
  }

  @media (min-width: 1280px) {
    h2 {
      font-size: 11rem;
    }
  }
</style>
