---
import Socials from "../components/Socials.astro";
---

<section>
  <h3>Want to chat?</h3>
  <p>Get in touch using the email below</p>
  <div>
    <a>greenfingersfilms@gmail.com</a>
  </div>
  <Socials />
</section>

<style>
  section {
    text-align: center;
    height: 80vh;
    padding-top: 25%;
    background-color: white;
    color: var(--dark-green);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
  }

  h3 {
    font-family: var(--humane);
    font-size: 28vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.8;
  }

  p {
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: uppercase;
    opacity: 0.7;
  }

  div {
    margin-top: 4rem;
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: underline;
  }
</style>
