---
import Socials from "../components/Socials.astro";
---

<section id="contact">
  <h3>Want to chat?</h3>
  <p>Get in touch using the email below</p>
  <div class="email-container">
    <svg
      class="arrow-left"
      width="152"
      height="60"
      viewBox="0 0 152 123"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4 117.5C31.7889 82.8858 97.7967 17.5633 144.457 26.1906M144.457 26.1906C145.651 26.4114 146.832 26.6806 148 27M144.457 26.1906C145.689 26.4757 146.873 26.7459 148 27M144.457 26.1906C119.819 20.4909 75.6904 8.85704 71.5 2M148 27C137.333 42.3333 118.1 74.8 126.5 82M2 121.5C29.7889 86.8858 95.7967 21.5633 142.457 30.1906M142.457 30.1906C143.651 30.4114 144.832 30.6806 146 31M142.457 30.1906C143.689 30.4757 144.873 30.7459 146 31M142.457 30.1906C117.819 24.4909 73.6904 12.857 69.5 6M146 31C135.333 46.3333 116.1 78.8 124.5 86"
        stroke="#1C462A"
        stroke-width="4"></path>
    </svg>
    <p class="email">greenfingersfilms@gmail.com</p>
    <svg
      class="underline"
      width="426"
      height="15"
      viewBox="0 0 426 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M2.5 8.99994C118.333 4.6666 365.1 -1.40006 425.5 8.99994M1 13.4999C83.5 7.99999 192.3 -6.60017 417.5 8.99983"
        stroke="#1B4529"
        stroke-width="3"></path>
    </svg>
    <svg
      class="arrow-right"
      width="157"
      height="50"
      viewBox="0 0 157 87"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M150.5 35.5C117.5 40.3333 42.1 50 4.5 50M4.5 50C19.3333 41 48.5 19.5 46.5 5.5M4.5 50C24.3333 58.5 66 77.4 74 85C62.1667 76.6667 31.7 58 4.5 50ZM4.5 50C51.5 48.1667 147.4 42.7 155 35.5M4.5 50C19 42.6667 49 22.6 53 1"
        stroke="#1B4529"
        stroke-width="4"></path>
    </svg>
  </div>
  <div class="copy-button-container">
    <button aria-label="Copy email" type="button" class="copy-button">
      <p class="copy-text">click to copy</p>
      <svg
        class="circle"
        width="128"
        height="48"
        viewBox="0 0 128 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M61.5839 1.06023C62.301 1.03201 63.0293 1.0141 63.7668 1.00588M63.7668 1.00588C63.8956 1.00444 64.0246 1.0033 64.1538 1.00245M63.7668 1.00588C63.6611 1.00992 63.5383 1.01611 63.3969 1.02461M63.7668 1.00588C63.9392 0.999282 64.0661 0.998382 64.1538 1.00245M64.1538 1.00245C73.3516 0.942033 83.915 2.35694 92.0602 4.01938C93.8203 4.37863 95.9744 4.91316 98.3522 5.62537M64.1538 1.00245C64.1993 1.00456 64.2342 1.008 64.2595 1.01267M98.3522 5.62537C108.019 8.52074 121.382 14.3526 127 23.2814M98.3522 5.62537C96.1877 5.04597 93.9831 4.52286 91.8017 4.07191C83.6135 2.37924 73.3155 0.936797 64.2595 1.01267M98.3522 5.62537C105.055 7.41948 111.373 9.75337 115.428 12.1562M115.518 33.7709C113.376 35.0345 111.413 36.0668 109.521 36.9371M115.518 33.7709C113.411 35.0138 111.44 36.0509 109.521 36.9371M115.518 33.7709L124 28.5M109.521 36.9371C104.33 39.324 99.6726 40.4911 93.3083 41.8615C91.0897 42.3393 88.7252 42.7705 86.2624 43.1496M109.521 36.9371C104.137 39.423 99.1658 40.7209 92.7624 42.0383C90.7263 42.4572 88.5435 42.8274 86.2624 43.1496M86.2624 43.1496C79.0848 44.2543 71.0733 44.9154 63.4108 44.9917C53.1191 45.0942 40.557 44.2419 31.5584 42.4764C30.2539 42.2205 28.9693 41.9351 27.7108 41.6246M86.2624 43.1496C78.8127 44.2017 70.3149 44.7404 62.4525 44.7829C52.1826 44.8385 40.1708 44.1437 31.1434 42.3715C29.9933 42.1457 28.8467 41.8957 27.7108 41.6246M27.7108 41.6246C20.2885 39.7935 13.7738 37.0893 9.41933 34.3988C5.4488 31.9455 2.60741 28.976 1.50555 26.052M27.7108 41.6246C19.9312 39.7681 12.6603 36.9261 8.28812 34.1498C4.52246 31.7586 2.35755 28.8812 1.50555 26.052M1.50555 26.052C1.19413 25.2256 1.02167 24.4028 1.00195 23.5964C0.988536 23.048 1.04453 22.4856 1.16614 21.9148M1.50555 26.052C1.22391 25.1168 1.08574 24.1868 1.08064 23.2814C1.07812 22.8334 1.10592 22.3768 1.16614 21.9148M1.16614 21.9148C1.85615 18.6762 4.65869 15.1693 8.88229 12.4398C11.1357 10.9836 14.0023 9.56046 17.3031 8.26769M1.16614 21.9148C1.59576 18.6184 3.67542 15.0421 8.16497 12.2835C10.4721 10.8659 13.6648 9.50533 17.3031 8.26769M17.3031 8.26769C21.2795 6.71031 25.8861 5.34216 30.8098 4.33345C34.5256 3.57221 39.6481 3.01082 44.7951 2.58214M17.3031 8.26769C21.737 6.7594 26.8326 5.43372 31.7936 4.41001C35.3453 3.67711 40.0702 3.07168 44.7951 2.58214M44.7951 2.58214C52.1295 1.97127 59.5135 1.62988 62.947 1.36366C63.1015 1.35168 63.2499 1.34028 63.3923 1.32944M44.7951 2.58214C52.0854 1.82679 59.3755 1.34732 62.3556 1.1012C62.7794 1.0662 63.123 1.04107 63.3969 1.02461M63.3923 1.32944C68.6368 0.930335 65.8545 1.29255 65.8679 1.61526M63.3923 1.32944C64.0112 1.17685 64.4711 1.05173 64.2595 1.01267M63.3923 1.32944C62.5167 1.54534 61.3228 1.81624 61.262 1.97623M61.8114 1.07244C62.3347 1.05081 62.8634 1.03496 63.3969 1.02461M63.3969 1.02461C63.6831 1.01906 63.9707 1.01509 64.2595 1.01267M61.5838 3.06023C71.3318 2.6766 83.1446 4.1997 92.0602 6.01938C100.976 7.83906 109.931 10.878 115.077 13.9783C120.224 17.0786 122.865 20.9893 122.938 24.6214C123.011 28.2535 120.457 32.5643 115.518 35.7709C110.58 38.9776 101.993 41.9914 93.3083 43.8615C84.6237 45.7317 73.7024 46.8893 63.4108 46.9917C53.1191 47.0942 40.5569 46.2419 31.5584 44.4764C22.5598 42.7109 14.5121 39.5455 9.41933 36.3988C4.32659 33.2521 1.09146 29.2562 1.00195 25.5964C0.912439 21.9365 3.91431 17.6503 8.88228 14.4398C13.8503 11.2294 21.799 8.17948 30.8098 6.33345C39.8206 4.48743 57.104 3.8167 62.947 3.36366C68.79 2.91063 65.8541 3.28379 65.8678 3.61526M61.8114 3.07244C71.4165 2.67536 82.8655 4.22462 91.8017 6.07191C100.738 7.9192 110.063 10.9774 115.428 14.1562C120.794 17.335 124.139 21.4941 123.996 25.1449C123.852 28.7957 119.774 32.9122 114.569 36.0611C109.363 39.21 101.448 42.2513 92.7624 44.0383C84.0764 45.8252 72.7223 46.7274 62.4525 46.7829C52.1826 46.8385 40.1708 46.1437 31.1434 44.3715C22.116 42.5993 13.2986 39.3315 8.28812 36.1498C3.27765 32.9681 1.10117 28.9258 1.08064 25.2814C1.06012 21.637 3.04614 17.4288 8.16497 14.2835C13.2838 11.1383 22.7618 8.27373 31.7936 6.41001C40.8254 4.54628 57.4442 3.50683 62.3556 3.1012C67.267 2.69557 61.3986 3.61642 61.262 3.97623"
          stroke="#1B4528"></path>
      </svg>
    </button>
  </div>
  <Socials />
  <footer>
    <div>
      <p>Greenfingers Films {new Date().getFullYear()}</p>
      <button aria-label="Return to top of page" type="button" class="to-top"
        ><p>Back to Top</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          ><path fill="none" d="M0 0h24v24H0z"></path><path
            d="M12 10.828l-4.95 4.95-1.414-1.414L12 8l6.364 6.364-1.414 1.414z"
          ></path></svg
        >
      </button>
    </div>
  </footer>

  <style>
    section {
      text-align: center;
      height: var(--contact-height);
      padding-top: 100px;
      background-color: white;
      color: var(--dark-green);
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -10;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h3 {
      font-family: var(--humane);
      font-size: clamp(10vw, 28vw, 200px);
      letter-spacing: -0.1rem;
      text-transform: uppercase;
      text-align: center;
      line-height: 0.8;
    }

    p {
      font-weight: 500;
      font-size: 1rem;
      /* text-transform: uppercase; */
      opacity: 0.9;
    }

    .email-container {
      margin-top: 4rem;
      position: relative;
    }

    .arrow-left {
      width: 4rem;
      position: absolute;
      left: -8px;
      top: 4px;
      transform: translateX(-100%);
    }

    .arrow-right {
      width: 4rem;
      position: absolute;
      top: -2px;
      right: -10px;
      transform: translateX(100%);
    }

    .underline {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -0.2rem;
    }

    .email {
      font-family: "Caveat", cursive;
      text-decoration: none;
      font-size: 1.7rem;
      letter-spacing: var(--tracking-tight);
    }

    .copy-button-container {
      margin-top: 2rem;
    }

    .copy-button {
      all: unset;
      font-family: "Caveat", cursive;
      position: relative;
      cursor: pointer;
      transition: scale 0.4s ease-in-out;
      isolation: isolate;
    }

    .copy-button:hover {
      scale: 1.1;
    }
    .copy-button:active {
      scale: 0.9;
    }

    .copy-button p {
      font-size: 1.2rem;
      z-index: 50;
      position: relative;
    }

    .copy-button svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 7.4rem;
      transform: translate(-50%, -50%);
    }

    footer {
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: 0 var(--section-padding) 0.6rem;
    }

    footer div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      opacity: 0.6;
    }

    footer p {
      font-size: 0.6rem;
    }

    footer button {
      all: unset;
      font-size: 0.7rem;
      display: flex;
      align-items: center;
    }

    footer button svg {
      width: 1rem;
      margin-left: 0.2rem;
    }

    .to-top {
      display: flex;
    }

    .to-top p {
      font-size: 0.6rem;
    }
  </style>

  <script>
    const toTop = document.querySelector(".to-top");
    toTop.addEventListener("click", () => {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });

    import JSConfetti from "js-confetti";

    const jsConfetti = new JSConfetti();

    const copyButton = document.querySelector(".copy-button");
    const copyText = document.querySelector(".copy-text");
    const emailText = document.querySelector(".email");

    function copyEmail() {
      navigator.clipboard.writeText("greenfingersfilms@gmail.com");
      copyText.textContent = "copied!";
      jsConfetti.addConfetti({
        emojis: ["ðŸ’Œ", "âœ‰ï¸"],
        confettiRadius: 4,
        confettiNumber: 70,
      });
      setTimeout(() => {
        copyText.textContent = "click to copy";
      }, 5000);
    }

    copyButton.addEventListener("click", copyEmail);
    emailText.addEventListener("click", copyEmail);
  </script>
</section>
