---
import FilmPreview from "../components/FilmPreview.astro";
import Title from "../components/Title.astro";
import films from "../data/films.json";
---

<section>
  <Title>Our Recent Films</Title>
  <div>
    {films.map((film, index) => <FilmPreview film={film} index={index} />)}
  </div>
</section>

<style>
  div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    margin-top: 1rem;
  }

  p {
    margin-top: 3rem;
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: var(--tracking-tighter);
    opacity: 0.4;
  }

  @media (min-width: 640px) {
    div {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 1024px) {
    div {
      gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (min-width: 1280px) {
    div {
      gap: 2rem;
    }
  }
</style>
