---
import FilmPreview from "../components/FilmPreview.astro";
import Title from "../components/Title.astro";
import films from "../data/films.json";
---

<section>
  <Title>Our Recent Films</Title>
  <div>
    {films.map((film, index) => <FilmPreview film={film} index={index} />)}
  </div>
</section>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
</style>
