---
---

<section>
  <div>
    <h1>Greenfingers</h1>
    <p>Your friendly award-winning film collective.</p>
  </div>
</section>

<style>
  section {
    height: 100vh;
    background: red;
    display: flex;
    align-items: center;
    padding: 0 var(--section-padding);
  }

  h1 {
    font-family: var(--humane);
    text-transform: uppercase;
    font-size: 36vw;
  }

  p {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
  }
</style>
