---
import Navbar from "../components/Navbar.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=switzer@600,800,900,700,400,300,500&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  @font-face {
    font-family: "Humane";
    src: url("/fonts/Humane-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  :root {
    /* Colours */
    --black: #0f0f0f;
    --mint: #e3ffed;
    --dark-green: rgb(31, 55, 39);

    /* Fonts */
    --humane: "Humane", sans-serif;
    --sans: "Switzer", sans-serif;

    /* Letter Spacing */
    --tracking-tighter: -0.05em;
    --tracking-tight: -0.025em;
    --tracking-wide: 0.025em;
    --tracking-wider: 0.05em;
    --tracking-widest: 0.1em;

    --section-padding: 1rem;

    --grayscaleAmount: 0;
  }

  html {
    font-family: var(--sans);
    background-color: var(--dark-green);
    color: var(--mint);
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  section {
    padding: 6rem var(--section-padding);
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    width: 100%;
    height: auto;
  }

  .desktop-only {
    display: none;
  }

  @media (min-width: 768px) {
    .desktop-only {
      display: initial;
    }

    .mobile-only {
      display: none;
    }
  }

  @media (min-width: 1280px) {
    :root {
      --section-padding: 2rem;
    }
  }
</style>
